[Desktop Entry]
Name=Details
Comment=Information about this machine
Exec=/usr/share/unityx/settings/machine.gui
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-Unity-Settings-Panel;
OnlyShowIn=UnityX;
X-Unity-Settings-Panel=details-unityx
Keywords=About;Information;System;
X-Ubuntu-Gettext-Domain=unity-control-center
