[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher
Comment=launch your apps
Exec=panther_launcher
Icon=start-here
Path=
Terminal=false
StartupNotify=false
